@model System.ServiceModel.Syndication.SyndicationFeed
<ul>
        @int loopCount = 0;

        @foreach (var item in Model.Items)
        {
            @loopCount++
                      
            <li id="">item.Title.Text</li>
        }
</ul>