@model System.ServiceModel.Syndication.SyndicationFeed
<ul>
        @{int loopCount = 0;

        foreach (var item in Model.Items)
        {
            loopCount++;
                      
            @:<li><div id="article_@loopCount">@item.Title.Text</div></li>
        }
}
</ul>