@model System.ServiceModel.Syndication.SyndicationFeed
<ul>
        @{int loopCount = 0;

        foreach (var item in Model.Items)
        {
            loopCount++;
                      
            @:<li><div id="article_@loopCount">@item.Title.Text</div></li>
        }
}
</ul>

<script>
    $("#article_1").on("click", function () {
        alert("click");
        $.ajax({
            url: "/Feed/GetArticleContent",
            data: { articleId: $(this).attr("id") },
            contentType: "application/json;",
            success: function (view) {
                alert("success!");
                $("#articleContent").html(view);
                $("#articleContent").slideToggle(500);
            },
            error: function () {
                $("#articleContent").html("You done did broked it.");

            },            
        });
    });
</script>